$icon-font-path: "./Libs/fonts/";
@import "Libs/_bootstrap";

.App {
	background-color: black;
	width: 100%;
	height: 100%;
	text-align: center;
	.App__Heading {
		margin-top: 50px;
		font-size: 32px;
		color: #2ecc71;
	}
}