@import "../../Utils/CssUtils/vars.scss";
@import "../../Utils/CssUtils/utilClasses.scss";

.Home {
	position: relative;
	background-image: url('http://storage.googleapis.com/wzuk/assets/images/95914440/95914440.jpg');
	background-size: 120%;
	background-position: 40%, 0%;
	width: 100%;
	height: calc(90% - #{$header_height});
	.Home__Body {
		position: absolute;
		top: 35%;
		left: 50%;
		font-family: 'Open Sans';
		.Body__Title {
			font-weight: 600;
			font-size: 72px;
			color: white;
		}
		.Body__Caption {
			color: rgb(5, 5, 5);
			font-size: 18px;
		}
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
